<ion-content class="background-content">
    <ion-toolbar color="none">
        <ion-buttons slot="start">
            <ion-icon class="text-white" name="arrow"></ion-icon>
        </ion-buttons>
        <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png"
                                                         style="margin-top: 20%;"/>
        </ion-title>
    </ion-toolbar>
    <br>
    <br>
    <div class="text-center mt-5">
        <img alt="envelope" class="mt-5" src="assets/pictures/envelope.png" style="height: 100px"/>
    </div>
    <div class="container mt-4">
        <div class="width-90 mx-auto">
            <p class="text-white text-center text-justify" style="font-size: 22px">Un mail vous a été envoyé sur votre
                adresse mail, cliquez sur le lien que
                vous
                avez reçu afin de valider
                votre inscription</p>
        </div>
    </div>
    <div class="div-submit mb-5">
        <ion-button color="primary"
                    expand="block"
                    routerLink="/" shape="round">
            Page accueil
        </ion-button>
    </div>
</ion-content>
