<ion-header>
    <ion-toolbar>
        <ion-title>tchat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let item of list">
        {{item}}
    </ion-list>

</ion-content>
