  <ion-content class="background-content">
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-back-button class="text-white" defaultHref="/connexionInscription"></ion-back-button>
      </ion-buttons>
      <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png"
                                                       style="margin-top: 20%;"/>
      </ion-title>
    </ion-toolbar>
    <div class="container mt-5">
      <div class="text-center mt-1">
        <h1 class="text-white">Inscription 4/4</h1>
      </div>
    </div>
    <div class="text-center mt-4" *ngIf="!picture">
      <img  alt="pictureImage" class="align-items-center"
            src="assets/pictures/talin.png">
    </div>
    <div class="text-center mt-4" *ngIf="picture">
      <img  alt="pictureImage" class="align-items-center rounded-circle"
            [src]="picture" style="width: 200px">
    </div>
    <div class="text-center mt-4">
      <ion-button (click)="presentActionSheet()" class="text-white"
                  style="--background	: #5C6BC0;--border-radius: 20px;width: 200px;">
        Charger une photo
      </ion-button>
      <h6 (click)="inscription()" style="color: #707070;text-decoration: underline;font-family: 'Segoe UI',sans-serif;">Ignorer cette
        étape</h6>
    </div>
    <div class="div-submit mb-5">
      <ion-button color="primary"
                  expand="block"
                  shape="round" [disabled]="!picture" (click)="onSubmit()">
        Suivant
      </ion-button>
    </div>
  </ion-content>
