<ion-content class="background-content">
    <ion-toolbar color="none">
        <ion-buttons slot="start">
            <ion-back-button class="text-white" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png"
                                                         style="margin-top: 20%;"/>
        </ion-title>
    </ion-toolbar>

    <div class="container mt-5">
        <div class="text-center">
            <h2 class="text-white">Connexion</h2>
        </div>
        <form [formGroup]="formLogin" class="mt-5">
            <ion-item class="mx-auto text-white form-input-connexion width-90" color="none">
                <ion-label class="text-white" position="stacked">Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item class="mx-auto text-white form-input-connexion width-90" color="none">
                <ion-label class="text-white" position="stacked">Mot de passe</ion-label>
                <ion-input [type]="type" formControlName="password"></ion-input>
                <ion-icon (click)="showPassword()" [name]="iconName" class="icon-eye" color="white"
                          slot="end"></ion-icon>
            </ion-item>
            <div class="div-submit">
                <ion-button (click)="onSubmit()" [disabled]="!formLogin.valid" color="primary"
                            expand="block"
                            shape="round">
                    Connexion
                </ion-button>
                <p class="text-center password-forget font-weight-bold mt-3" routerLink="mot-de-passe-oublié">Mot de
                    passe
                    oublié</p>
            </div>
        </form>

    </div>

</ion-content>
