<ion-content class="background-content">
    <ion-toolbar color="none">
        <ion-buttons slot="start">
            <ion-back-button class="text-white" defaultHref="/connexionInscription"></ion-back-button>
        </ion-buttons>
        <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png"
                                                         style="margin-top: 20%;"/>
        </ion-title>
    </ion-toolbar>
    <div class="container mt-5">
        <div class="text-center mt-1">
            <h1 class="text-white">Inscription 1/4</h1>
        </div>
    </div>
    <div class="container mt-5 ">
        <form [formGroup]="formRegister">
         <!--   <ion-radio-group class="text-white">
                <ion-list-header>
                    <ion-label class="text-white">Civilité</ion-label>
                </ion-list-header>

                <ion-label>H</ion-label>
                <ion-radio slot="start" style="&#45;&#45;color:white;" class="ml-2" value="male"></ion-radio>
                <ion-label class="ml-4">F</ion-label>
                <ion-radio slot="start" class="ml-2" value="female" style="&#45;&#45;color:white"></ion-radio>

            </ion-radio-group>-->
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Nom</ion-label>
                <ion-input formControlName="lastName" type="text"></ion-input>
            </ion-item>
           <!-- <span class="error ion-padding" *ngIf="!formRegister.valid && formRegister.value != null && !formRegister.valid">
            Name is required.
            </span>-->
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Prenom</ion-label>
                <ion-input formControlName="firstName" type="text"></ion-input>
            </ion-item>
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
        </form>
        <div class="div-submit mb-5">
            <ion-button (click)="onSubmit()"
                        [disabled]="!formRegister.valid"
                        color="primary" expand="block" shape="round">
                Suivant
            </ion-button>
        </div>
    </div>
</ion-content>
