<div class="alert-custom pb-1">
    <img alt="warning" src="assets/pictures/warning.png" class="pt-3 pl-2 position-absolute"/>
    <p class="pt-3 text-white pl-5 font-12">Pour bénéficier de toutes les fonctionnalités de l'application complétez les informations de votre profil</p>
</div>
