<ion-content class="background-content">
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/connexionInscription" class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png" style="margin-top: 20%;"/>
    </ion-title>
  </ion-toolbar>
  <div class="container mt-5">
    <div class="text-center mt-1">
      <h1 class="text-white">Inscription 3/4</h1>
    </div>
  </div>
  <div class="container mt-5 ">
    <form [formGroup]="formRegisterStep3">
      <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
        <ion-label class="text-white" position="stacked" >Code parrainage</ion-label>
        <ion-input type="text" formControlName="sponsorshipcode"></ion-input>
      </ion-item>
      <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
        <ion-label class="text-white" position="stacked" >Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
        <ion-label class="text-white" position="stacked" >Confirmation mot de passe</ion-label>
        <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
      </ion-item>
      <div class="div-submit mb-5">
        <ion-button (click)="onSubmit()"
                    [disabled]="!formRegisterStep3.valid"
                    color="primary" expand="block" shape="round">
          Suivant
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
