<ion-content class="background-content">
     <div class="container text-center mt-5 mb-5">
         <img alt="Good2'Loc'" class="img-fluid" src="assets/pictures/good2LockLogoXl.png" style="width: 70%"/>
     </div>
     <br>
     <div class="container text-center">
         <ion-button class="font-weight-bold mt-5 button-connexion mb-4" color="light" routerLink="/login">
             Connexion
         </ion-button>
         <ion-button class="font-weight-bold mt-5 button-connexion" color="light" routerLink="/inscription">
             Inscription
         </ion-button>
     </div>


</ion-content>


