<ion-content>
    <ion-grid class="ion-padding">
        <ion-row>
            <div class="text-center">
                <img alt="deconnexion" class="pt-3" src="assets/pictures/logout.png"/>
                <br> <br> <br>
                <p class="mt-3 font-weight-bold" style="font-size: 16px;color: #707070;font-family: Segoe UI">
                    Etes-vous sûr de vouloir vous déconnecter?</p>
            </div>
        </ion-row>
        <ion-row>
            <img (click)="logout()" alt="accept" class="mx-auto" src="assets/pictures/accept.png"/>
            <img (click)="dismissPopover()" alt="quit" class="mx-auto" src="assets/pictures/quit.png"/>
        </ion-row>
    </ion-grid>
</ion-content>
