<ion-content class="background-content">
    <ion-toolbar color="none">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" class="text-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png" style="margin-top: 20%;"/>
        </ion-title>
    </ion-toolbar>

    <div class="container mt-5">
        <div class="text-center">
            <h2 class="text-white">Mot de passe oublié</h2>
            <p class="text-justify text-white text-center mt-5" style="font-size: 16px;font-family: Segoe UI">Veuillez entrer votre adresse email afin qu'un mail vous soit envoyé pour modifier votre mot de passe</p>
        </div>
        <form [formGroup]="formForgetPassword" class="mt-5">
            <ion-item class="mx-auto text-white width-90" color="none">
                <ion-label class="text-white" position="stacked">Email</ion-label>
                <ion-input formControlName="email"  type="text"></ion-input>
            </ion-item>
            <div class="div-submit">
                <ion-button (click)="onSubmit()" [disabled]="!formForgetPassword.valid" color="primary"
                            expand="block"
                            shape="round">
                    Envoyer
                </ion-button>
            </div>
        </form>
    </div>

</ion-content>
