<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>
<app-account-verify *ngIf="authService.accountValidated == false"></app-account-verify>
<ion-content>
  <!--  <div class="container">
        <ion-buttons>
            <ion-button color="primary" *ngIf="!authService.tokenUser" [routerLink]="['/login']">Login</ion-button>

            <ion-button color="primary" (click)="testWithToken()">Test get avec token</ion-button>

            <ion-button color="primary" *ngIf="authService.tokenUser" (click)="authService.logout()">Déconnexion</ion-button>
            <form [formGroup]="formFile" enctype="multipart/form-data">

                <input formControlName="file"
                       type="file"
                       (change)="fileChange($event.target.files)">
                <ion-button (click)="onSubmit()">Valider</ion-button>
            </form>

        </ion-buttons>-->

<!--
        <ion-button color="primary" (click)="notifications()">test</ion-button>
-->
<!--
    </div>
-->
</ion-content>
