<ion-content class="background-content">
    <ion-toolbar color="none">
        <ion-buttons slot="start">
            <ion-back-button class="text-white" defaultHref="/connexionInscription"></ion-back-button>
        </ion-buttons>
        <ion-title class="imgGood2locWithoutHeader"><img alt="Good2'Loc'" src="assets/pictures/good2Loc'.png"
                                                         style="margin-top: 20%;"/>
        </ion-title>
    </ion-toolbar>
    <div class="container mt-5">
        <div class="text-center mt-1">
            <h1 class="text-white">Inscription 2/4</h1>
        </div>
    </div>
    <div class="container mt-5 ">
        <form [formGroup]="formRegisterStep2">
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Code postal</ion-label>
                <ion-input formControlName="zipCode" type="text"></ion-input>
            </ion-item>
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Ville</ion-label>
                <ion-input formControlName="city" type="text"></ion-input>
            </ion-item>
            <ion-item class="mx-auto text-white form-input-connexion mt-5 width-90" color="none">
                <ion-label class="text-white" position="stacked">Numéro de téléphone</ion-label>
                <ion-input formControlName="tel" type="tel"></ion-input>
            </ion-item>
            <div class="div-submit mb-5">
                <ion-button (click)="onSubmit()"
                            [disabled]="!formRegisterStep2.valid"
                            color="primary" expand="block" shape="round">
                    Suivant
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>
