<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <div style="background: #BCE0FD;height: 200px" class="text-center">
           <img *ngIf="!authService.tokenUser" alt="pictureProfil" src="assets/pictures/avatar.png" class="mt-5" style="height: 100px"/>
            <img *ngIf="authService.tokenUser" alt="pictureProfil" src="assets/pictures/talin.png" class="mt-3" style="height: 150px"/>

        </div>
        <ion-content>
            <ion-list class="mt-3" style="height: 100%">
                <ion-menu-toggle *ngIf="!authService.tokenUser" autoHide="true">
                    <ion-item  routerLink="/connexionInscription">
                        <ion-icon name="log-in" slot="start"></ion-icon>
                        Se connecter
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle *ngIf="authService.tokenUser" autoHide="true">
                    <ion-item  routerLink="/login">
                        <ion-icon name="person" slot="start"></ion-icon>
                        Mon Compte
                    </ion-item>
                    <ion-item  routerLink="/login">
                        <ion-icon name="basket" slot="start"></ion-icon>
                        Annonces
                    </ion-item>
                    <ion-item  routerLink="/login">
                        <ion-icon name="basket" slot="start"></ion-icon>
                        Boutique
                    </ion-item>
                    <ion-item  routerLink="/login">
                        <ion-icon name="time" slot="start"></ion-icon>
                        Historique
                    </ion-item>
                    <ion-item (click)="logout()" style="position: absolute;bottom:5%;--border-color:white;margin-left: 20%">
                        <ion-icon name="exit" slot="start"></ion-icon>
                        Se déconnecter
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
